
/* global  and basic css*/
body , html , main{
    padding: 0;
    margin: 0;
    height: 100vh;
}
#SignInMenu , #SignUpMenu{
    display:none;
}
#options{
    display: flex;
}
/* options, sign-in and sign-up card design   */
#options,#SignInMenu , #SignUpMenu{
    position: relative;
    background: #fefefe;
    border: 1px solid #830000;
    border-radius: 13px;
    box-shadow: 0 0 20px 10px #ededed;
    inset: 20vh 20vw;
    width: 60vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
label{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
button:hover,h2:hover{
    cursor: pointer;
    color: #830000;
}
button{
    font-weight: bold;
    outline: 0;
    border:none;
    background-color: #fefefe;
}
h2{
    text-align: center;
}